@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    color: inherit;
}
  
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #ffffffe2;
    --main-color: #00fbff;
}
  
html {
    font-size: 15.5px;
}
  
body {
    background: var(--bg-color);
    color: var(--text-color);
}
  
section {
    min-height: 100vh;
    min-width: 100%;
    padding: 7rem 9% 2rem;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.header__logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

/* Navbar */
.header__navbar a {
    font-size: 1.1rem;
    margin-left: 3.5rem;
    transform: 0.3s ease;
}
#menu-icon {
    color: var(--text-color);
    font-size: 2rem;
    display: none;
}
.header__navbar a:hover,
.active {
    color: var(--main-color);
}

/* Home */
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home__img {
    margin-top: 5rem;
    margin-right: -5rem;
    z-index: -1;
}
.home__img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home__content {
    margin-top: -10rem;
    width: 90%;
}
.home__content h3 {
    font-size: 3rem;
    font-weight: 700;
}
.home__content h3:first-child {
    margin-top: 10rem;
}
span {
    color: var(--main-color);
}
.home__content h1 {
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
}
.home__content-social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 2.5rem 0;
    transition: all 0.5s ease;
}
.home__content-social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.home__content-btn {
    display: inline-block;
    padding: 0.8rem 2.8rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 50px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.3rem;
    font-weight: 600;
    transition: box-shadow 0.5s ease;
}
.home__content-btn:hover {
    box-shadow: none;
}

/* About */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}
.about__img img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}
.about__content-heading {
    text-align: left;
    font-size: 3.5rem;
    line-height: 1.2;
}
.about__content p {
    font-size: 1.1rem;
    margin: 2rem 0 3rem;
}
.about__content-btn {
    display: inline-block;
    padding: 0.8rem 2.8rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 50px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.3rem;
    font-weight: 600;
    transition: box-shadow 0.5s ease;
}
.about__content-btn:hover {
    box-shadow: none;
}

/* Expertise */
.expertise h2 {
    margin-bottom: 5rem;
}
.expertise_heading {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.2;
}
.expertise__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}
.expertise__container-box {
    flex: 1 1 25rem;
    background-color: var(--second-bg-color);
    padding: 1rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: transform 0.5s ease;
}
.expertise__container-box:hover {
    transform: scale(1.02);
    border-color: var(--main-color);
}
.expertise__container-box:not(:hover) {
    transition-duration: 1s;
}
.expertise__container-box i {
    font-size: 5rem;
    color: var(--main-color);
}
.expertise__container-box h3 {
    font-size: 2.1rem;
}
.expertise__container-box p {
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
}
.expertise__container-box-btn {
    display: inline-block;
    padding: 0.8rem 2.8rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 50px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.3rem;
    font-weight: 600;
    transition: box-shadow 0.5s ease;
}
.expertise__container-box-btn:hover {
    box-shadow: none;
}

/* Portfolio */
.portfolio__heading {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 5rem;
}
.portfolio {
    background-color: var(--second-bg-color);
}
.portfolio__container {
    display: grid;
    height: 450px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.portfolio__container-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio__container-box img {
    width: 100%;
    transition: transform 0.5s ease;
}
.portfolio__container-box:hover img {
    transform: scale(1.1);
}
.portfolio__container-box-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.portfolio__container-box:hover .portfolio__container-box-layer {
    transform: translateY(0);
}
.portfolio__container-box-layer h4 {
    font-size: 2.1rem;
}
.portfolio__container-box-layer p {
    font-size: 1.1rem;
    margin: 0.3rem 0 1rem;
}
.portfolio__container-box-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--text-color);
    border-radius: 50%;
}
.portfolio__container-box-layer a i {
    font-size: 1.5rem;
    color: var(--second-bg-color);
}

/* Contact */
.contact__heading {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 5rem;
}
.contact form {
    max-width: 45rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact__input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact__input-box input,
.contact form textarea {
    width: 100%;
    padding: 0.9rem;
    font-size: 0.9rem;
    color: var(--bg-color);
    background-color: var(--second-bg-color);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}
.contact__input-box input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}
.contact__btn {
    display: inline-block;
    padding: 0.8rem 2.8rem;
    background-color: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 50px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.3rem;
    font-weight: 600;
    transition: box-shadow 0.5s ease;
    margin-top: 1rem;
    cursor: pointer;
}
.contact__btn:hover {
    box-shadow: none;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--second-bg-color);
}
.footer__text p {
    font-size: 1.1rem;
}
.footer__iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    transform: 0.5s ease;
}
.footer__iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer__iconTop a i {
    font-size: 1.5rem;
    color: var(--second-bg-color);
}